/***********************************************/
/*   index                                     */
/*=============================================*/
/*   01.common                                 */
/*   02.layout                                 */
/*   03.header                                 */
/*   04.gNavi                                  */
/*   05.sNavi                                  */
/*   06.main                                   */
/*   07.footer                                 */
/*   08.img                                    */
/*   09.text                                   */
/*   10.table                                  */
/*   11.font                                   */
/*   12.link                                   */
/*   99.other                                  */
/*=============================================*/
/***********************************************/


/***********************************************
  01.common
***********************************************/

.fLeft {
 float           : left;
}

.fRight {
 float           : right;
}

.halfBlock {
 width           : 49.5%;
 float           : left;
}

.fLeft49 {
 width           : 49.5%;
 float           : left;
}

.fRight49 {
 width           : 49.5%;
 float           : right;
}

.thirdBlock {
 width           : 33.3%;
 float           : left;
}

.fourthBlock {
 width           : 24.9%;
 float           : left;
}

/***********************************************
  02.layout
***********************************************/
#wrap {
 width           : 100%;
 min-width       : 950px;
}

#wrapperAll {
 width           : px;
 margin          : 0 auto;
}


.pageTop {
 width           : 100%;
 text-align      : right;
 padding         : 10px 0px 20px;
}

#pageTopArea {
 width           : 100%;
 padding         : 50px 0px 10px;
}

#pageTop {
 width           : 950px;
 margin          : 0 auto;
 text-align      : right;
}

#container {
 width           : 850px;
 margin          : 0 auto;
}

#breadcrumbsList {
 padding         : 15px 0px;
 font-size       : 1.0em;
}

/***********************************************
  03.header
***********************************************/

#headerArea {
 background      : url(../images/bg_headerarea.jpg) repeat-x;
 height          : 78px;
}

h1 {
 background      : url(../images/bg_header.jpg) no-repeat;
 width           : 950px;
 margin          : 0 auto;
 height          : 47px;
 padding         : 31px 0px 0px 0px;
}

#hNav {
 width           : 920px;
 margin          : 0 auto;
 text-align      : right;
 padding         : 10px 0px 6px 0px;
}

#hNav li {
 display         : inline;
 font-size       : 15px;
 font-weight     : bold;
 margin          : 0px 0px 0px 10px;
}

#hNav li a {
 background      : url(../images/ic_arrow_01_off.gif) no-repeat;
 padding         : 0px 0px 0px 20px;
 color           : #000;
}

#hNav li a:hover {
 background      : url(../images/ic_arrow_01_on.gif) no-repeat;
 text-decoration : none;
}


/***********************************************
  04.gNavi
***********************************************/

#gNavArea {
 background      : url(../images/bg_gnavarea.gif) repeat-x bottom;
 height          : 30px;
}

#gNavList {
 width           : 923px;
 margin          : 0 auto;
 text-align      : center;
}

#gNavList li {
 display         : inline;
}


/***********************************************
  05.sNavi
***********************************************/


/***********************************************
  06.main
***********************************************/

#indexVisual {
 border-bottom   : 4px solid #be1823;
 text-align      : center;
 padding         : 30px 0px;
 margin          : 0px 0px 15px 0px;
}

.inlineDiscList li {
 background      : url(../images/ic_disc.gif) no-repeat 0 0.1em;
 padding         : 0px 0px 0px 15px;
 margin          : 0px 20px 0px 0px;
 display         : inline;
 font-size       : 1.2em;
}

#enpit {
 background      : url("../images/img_index_04.jpg") no-repeat scroll 0 0 transparent;
 float           : right;
 height          : 80px;
 padding         : 244px 0 0;
 text-align      : right;
 width           : 340px;
}

#enpit li {
 height          : 22px;
 margin          : 0px 0px 4px 0px;
}

.indexH2 {
 border-bottom   : 4px solid #be1823;
 overflow        : hidden;
}

.indexH2 h2 {
 width           : 49%;
 float           : left;
}

.indexH2 a {
 width           : 49%;
 float           : right;
 display         : block;
 text-align      : right;
 padding         : 3px 0px 0px 15px;
 background      : url(../images/ic_arrow_01_off.gif) no-repeat 346px 6px;
 font-weight     : bold;
 color           : #000 !important;
}

.indexH2 a:hover {
 background      : url(../images/ic_arrow_01_on.gif) no-repeat 346px 6px;
 text-decoration : none;
}

.programFlow {
 background      : url(../images/ic_arrow.gif) no-repeat center bottom;
 padding         : 0px 0px 56px 0px;
 margin          : 0px 0px 10px 0px;
}

.bdLeftTt {
 border-left     : 8px solid #be1823;
 font-size       : 1.4em;
 font-weight     : bold;
 padding         : 7px 10px;
 margin          : 0px 0px 15px 0px;
}

.linkPageList {
 width           : 95%;
 margin          : 0 auto;
}

.pagetop {
 text-align      : right;
 width           : 850px;
 margin          : 0 auto 10px;
}

.pagetop a {
 background      : url(../images/ic_pagetop_off.gif) no-repeat 0 50%;
 padding         : 10px 0px 10px 23px;
 font-weight     : bold;
 color           : #000 !important;
}

.pagetop a:hover {
 background      : url(../images/ic_pagetop_on.gif) no-repeat 0 50%;
 color           : #78171b !important;
}




/***********************************************
  07.footer
***********************************************/

#footerArea {
 border-top      : 4px solid #be1823;
}

#copy {
 width           : 850px;
 margin          : 0 auto;
 text-align      : center;
 padding         : 10px 0px;
}

/***********************************************
  08.img
***********************************************/

img {
 border          : 0px;
}

/***********************************************
  9.text
***********************************************/


/***********************************************
  10.table
***********************************************/
table {
 border-collapse : collapse;
}

.transparentTab {
 width           : 100%;
}

.transparentTab tr th {
 text-align      : left;
 color           : #be1823;
 padding         : 0px 0px 3px 0px;
 width           : 8em;
 vertical-align  : middle;
}

.transparentTab tr td {
 vertical-align  : middle;
}

.programFlowTab {
 width           : 100%;
 border          : 1px solid #be1823;
}

.programFlowTab tr th {
 background      : url(../images/bg_th.jpg) repeat-y;
 width           : 219px;
 font-size       : 1.5em;
 color           : #fff;
 padding         : 20px 0px;
}

.programFlowTab tr td {
 padding         : 15px 20px;
}

.applicationTab {
 width           : 100%;
 border-top      : 1px solid #be1823;
}

.applicationTab tr th {
 width           : 200px;
 background      : #f1d6c9;
 padding         : 10px 0px;
 border-bottom   : 1px solid #be1823;
}

.applicationTab tr td {
 padding         : 20px 20px 20px 35px;
 border-bottom   : 1px solid #be1823;
}

.bdDtd {
 border-bottom   : 1px dashed #be1823 !important;
}

.bdNone {
 border          : none !important;
}

.curriculumTab01,
.curriculumTab02 {
 width           : 100%;
 border-top      : 1px solid #be1823;
}

.curriculumTab01 tr th,
.curriculumTab02 tr th {
 background      : #efefef;
 text-align      : left;
 padding         : 5px 20px;
 color           : #be1823;
 border-right    : 1px solid #be1823;
 border-bottom   : 1px solid #be1823;
}

.curriculumTab02 tr td {
 padding         : 10px 20px;
 text-align      : left;
 border-right    : none;
}

.curriculumTab02 tr th {
 width           : 215px;
}




/***********************************************
  11.font
***********************************************/

/***********************************************
  12.link
***********************************************/

/* default */
a:link,
a:visited,
a:hover {
 color           : #245ddb;
 text-decoration : none;
}
a:hover {
 text-decoration : underline;
}
/* default */

/* imgLink */
.imgLink img:hover {
 opacity         : 0.70;
 filter          : alpha(opacity=70);
 -moz-opacity    : 0.70;
 -ms-filter      : "alpha(opacity=70)";
}
/* imgLink */

/* hGrayLink */
a.hGrayLink:link,
a.hGrayLink:visited,
a.hGrayLink:hover {
 color           : #000;
 text-decoration : none;
}
a.hGrayLink:hover {
 color           : #828181;
 text-decoration : underline;
}
/* hGrayLink */

/* url */
a.url:link,
a.url:visited,
a.url:hover {
 color           : #333;
 text-decoration : none;
}
a.url:hover {
 text-decoration : underline;
}
/* url */

/* borderLink */
a.borderLink:link,
a.borderLink:visited,
a.borderLink:hover {
 text-decoration : underline !important;
}
a.borderLink:hover {
 text-decoration : none !important;
}
/* borderLink */

/* breadcrumbsList */
#breadcrumbsList a:link,
#breadcrumbsList a:visited,
#breadcrumbsList a:hover {
 color           : #000;
 text-decoration : none;
}
#breadcrumbsList a:hover {
 text-decoration : underline;
}
/* breadcrumbsList */

/* topPathList */
#topPathList a:link,
#topPathList a:visited,
#topPathList a:hover {
 color           : #564842;
 text-decoration : none;
}
#topPathList a:hover {
 text-decoration : underline;
}
/* topPathList */

/* footer */
#footer a:link,
#footer a:visited,
#footer a:hover {
 color           : #245ddb;
 text-decoration : none;
}
#footer a:hover {
 text-decoration : underline;
}
/* footer */

/* pageTop */
#pageTop a:link,
#pageTop a:visited,
#pageTop a:hover {
 color           : #447fd1;
 text-decoration : none;
}
#pageTop a:hover {
 text-decoration : underline;
}
/* pageTop */

/* link1 */
a.link1:link,
a.link1:visited,
a.link1:hover {
 color           : #999999;
 text-decoration : none;
}
a.link1:hover {
 text-decoration : underline;
}
/* link1 */

/* dependLink */
a.dependLink:link,
a.dependLink:visited,
a.dependLink:hover {
 color           : #999999;
 text-decoration : none;
}
a.dependLink:hover {
 text-decoration : underline;
}
/* dependLink */


/***********************************************
  99.other
***********************************************/
ul {
 list-style-type : none;
}

ul.normalList {
 list-style-type : disc;
 margin-left     : 15px;
}


dl.inlineList dt,
dl.inlineList dd,
ul.inlineList li,
ol.inlineList li,
.inline {
 display         : inline;
}

.bdRed {
 border          : 1px solid #be1823;
}

.hpc {
	display:none;
}
.hspI {
	display:inline;
}
.hsp {
	display:block;
}


/***********************************************
  Syllabus
***********************************************/
#syllabus {
	padding: 30px 0;
}

#syllabus .left {
	text-align: left;
}

#syllabus table {
	border: solid thin #999 1px;
}

#syllabus table th{
	border: solid thin #999 1px;
	padding: 0 5px;
}

#syllabus table .v-center {
	vertical-align: middle !important;
}

#syllabus .table-01 {
	margin-bottom: 20px;
}

#syllabus .table-01 th {
	width:100px;
	background-color: #F1F1F1;
}

#syllabus .table-01 td {
	width: 181px;
	padding: 0 5px;
}

#syllabus .table-02 th {
	vertical-align: top;
	width: 240px;
	margin: 0 5px;
	background-color: #F1F1F1;
}

#syllabus .table-02 td {
	padding: 0 5px;
}

#syllabus ol {
	margin-left: 20px;
}

#syllabus ul {
	margin-left: 15px;
	list-style-type: disc !important;
}

#syllabus .center {
	text-align: center;
}

/***********************************************
  êVíÖèÓïÒ
***********************************************/

#news table tr {
	border-bottom: dotted 1px #BE1823 ;
}

#news table td {
	padding: 15px 0;
}

#news-detail .news-cont {
	overflow: hidden;
	clear: both;
}

#news-detail {
	padding: 10px 0;
}

#news-detail .cont-txt {
	margin: 0 6px;
}

#news-detail h2 {
	font-size: 140%;
}


/***********************************************
  Free
***********************************************/
.txt-bold {
	font-weight: bold !important;
}

.txt-red {
	color: #FF0000 !important;
}

.txt-darkred {
	color: #BF1820 !important;
}

.txt-blue {
	color: #0000FF !important;
}

.txt-skyblue {
	color: #60B7DF !important;
}

.txt-orange {
	color: #EAB66D !important;
}

.txt-green {
	color: #8CBB34 !important;
}

.txt-green {
	color: #00CC00 !important;
}

.pt-2 {
	padding-top: 2px !important;
}

.pt-5 {
	padding-top: 5px !important;
}

.pt-10 {
	padding-top: 10px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pb-2 {
	padding-bottom: 2px !important;
}

.pb-5 {
	padding-bottom: 5px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-15 {
	padding-bottom: 15px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pl-2 {
	padding-left: 2px !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pl-10 {
	padding-left: 10px !important;
}

.pl-15 {
	padding-left: 15px !important;
}

.pl-20 {
	padding-left: 20px !important !important;
}

.pr-2 {
	padding-right: 2px !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.pr-10 {
	padding-right: 10px !important;
}

.pr-15 {
	padding-right: 15px !important;
}

.pr-20 {
	padding-right: 20px !important;
}

.mt-2 {
	maargin-top: 2px !important;
}

.mt-5 {
	maargin-top: 5px !important;
}

.mt-10 {
	maargin-top: 10px !important;
}

.mt-15 {
	maargin-top: 15px !important;
}

.mt-20 {
	maargin-top: 20px !important;
}

.mb-2 {
	maargin-bottom: 2px !important;
}

.mb-5 {
	maargin-bottom: 5px !important;
}

.mb-10 {
	maargin-bottom: 10px !important;
}

.mb-15 {
	maargin-bottom: 15px !important;
}

.mb-20 {
	maargin-bottom: 20px !important;
}

.ml-2 {
	maargin-left: 2px !important;
}

.ml-5 {
	maargin-left: 5px !important;
}

.ml-10 {
	maargin-left: 10px !important;
}

.ml-15 {
	maargin-left: 15px !important;
}

.ml-20 {
	maargin-left: 20px !important;
}

.mr-2 {
	maargin-right: 2px !important;
}

.mr-5 {
	maargin-right: 5px !important;
}

.mr-10 {
	maargin-right: 10px !important;
}

.mr-15 {
	maargin-right: 15px !important;
}

.mr-20 {
	maargin-right: 20px !important;
}




